# sourced from rc.local on Raspberry Pi
#
# Name this file as "boot.rc" and put it on the boot partition if you 
# want to run it.

# echo "Checking ssh and enabling if absent"
if ! ls /etc/rc5.d | grep "^S..ssh\$" >/dev/null; then
    insserv ssh
    service ssh start
fi
